@font-face {
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/actay-400.woff2") format("woff2"),
  url("../assets/fonts/actay-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Actay";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/actay-700.woff2") format("woff2"),
  url("../assets/fonts/actay-700.woff") format("woff");
  font-display: swap;
}
